[tasks.rebuild-nix-darwin]
description = "nix-darwinのRebuild"
run = "cd ~/.config/nix-darwin && sudo darwin-rebuild switch --flake ~/.config/nix-darwin --impure"

[tasks.make-ubuntu2404-docker]
description = "ubuntu24.04LTSのDocker作成"
run = "docker run -it --name claude-sandbox ubuntu:24.04 /bin/bash"

[tasks.run-ubuntu2404-docker]
description = "ubuntu24.04LTSのDocker起動"
run = "docker start -ai claude-sandbox"

[tasks.setup-tailscale]
description = "Tailscaleの初回設定コマンド"
run = "sudo tailscale up --ssh"

[tasks.run-gitleaks-including-githistory]
description = "Gitの履歴も含めてgitleaks実行"
run = "gitleaks detect --source . --verbose"
